@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Code+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Condensed:wght@300;400&family=Source+Code+Pro:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root{
  margin: 2rem; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Arial", sans-serif;

}

img {
  width: 250px;
}

body {
  background-color: #f4f4f9;
  color: #333333;
  
}

.middle {
  flex-grow: 4;
  margin: 2rem;
  background-color: #f4f4f9;
  
}

footer {
  margin-top: 2rem;
  align-self: center;
  color: #333333;
  
}

/* Accent Color for Links or Important Text */
a {
  color: #ef476f;
}

/* Additional components (assuming these imports have specific styles) */
@import './components/Nav.scss';
@import './components/Landing.scss';
@import './components/Projects.scss';
@import './components/ContactInfo.scss';
@import './components/About.scss';
@import './components/Poetry.scss';
@import './components/Personal.scss';

